data
data/
data/*
log
*.mp4
*.tar
*.zip
*.npy
libs/detect_emotion/VGG_S_rgb/EmotiW_VGG_S.caffemodel
libs/detect_emotion/VGG_S_rgb/mean.binaryproto
libs/detect_emotion/VGG_S_rgb/*
libs/deep_semantic_feature/data/trained_model/model_par
source/src/baseline/detect_emotion/VGG_S_lbp/EmotiW_VGG_S.caffemodel
source/src/baseline/detect_emotion/VGG_S_cyclic_lbp_10/EmotiW_VGG_S.caffemodel
source/src/baseline/detect_emotion/VGG_S_rgb/EmotiW_VGG_S.caffemodel
source/src/baseline/detect_emotion/VGG_S_rgb
source/src/baseline/detect_emotion/VGG_S_rgb/
source/src/baseline/detect_emotion/VGG_S_rgb/*
source/src/baseline/detect_emotion/VGG_S_cyclic_lbp_5/EmotiW_VGG_S.caffemodel
source/src/baseline/detect_emotion/VGG_S_cyclic_lbp/EmotiW_VGG_S.caffemodel
source/src/baseline/deep_semantic_feature/data.zip
source/src/baseline/detect_emotion/VGG_S_rgb/mean.binaryproto
source/src/baseline/deep_semantic_feature/log.txt
source/src/baseline/deep_semantic_feature/logemotion.txt
source/src/baseline/deep_semantic_feature/logevents.txt
source/src/baseline/deep_semantic_feature/log_only_vgg16.txt
source/src/baseline/deep_semantic_feature/gm_submodular
source/src/baseline/deep_semantic_feature/gm_submodular/
source/src/baseline/deep_semantic_feature/gm_submodular/*
source/src/baseline/rethinking-evs/data
source/src/baseline/rethinking-evs/data/
source/src/baseline/rethinking-evs/data/*
libs/rethinking-evs/data/*
libs/rethinking-evs/data/
libs/rethinking-evs/data
__pycache__
temp.*