[submodule "libs/Video-Segment_Toolkit"]
	path = libs/Video-Segment_Toolkit
	url = https://github.com/zeroQiaoba/Video-Segment-Toolkit.git
[submodule "libs/freesound_audio_tagging_2019"]
	path = libs/freesound_audio_tagging_2019
	url = https://github.com/ebouteillon/freesound-audio-tagging-2019.git
[submodule "libs/_moments_models"]
	path = libs/_moments_models
	url = https://github.com/zhoubolei/moments_models.git
[submodule "libs/TransNet"]
	path = libs/TransNet
	url = https://github.com/soCzech/TransNet.git
[submodule "libs/TransNets"]
	path = libs/TransNets
	url = https://github.com/soCzech/TransNet.git
