certifi==2019.11.28
click==7.1.1
easydict==1.9
Flask==1.1.1
Flask-BasicAuth==0.2.0
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.1
knapsack==0.0.4
MarkupSafe==1.1.1
numpy==1.18.1
opencv-python==4.2.0.32
six==1.14.0
Werkzeug==1.0.0
