arrow==0.15.5
bfg==0.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
decorator==4.4.2
easydict==1.9
Flask==1.1.1
Flask-BasicAuth==0.2.0
h2==2.6.2
h5py==2.10.0
hpack==3.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
knapsack==0.0.4
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
moviepy==1.0.1
numpy==1.18.1
olefile==0.46
opencv-python==4.2.0.32
pandas==1.0.3
Pillow==6.1.0
proglog==0.1.9
pycparser==2.20
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.1.0
six==1.14.0
sklearn==0.0
torch==1.0.0
torchvision==0.2.1
tqdm==4.43.0
urllib3==1.25.8
Werkzeug==1.0.0
