<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo</title>

    <script type="text/javascript" src="amaliajs/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="amaliajs/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="amaliajs/bower_components/raphael/raphael.js"></script>
    <link href="amaliajs/build/css/amalia.js.min.css" type="text/css" rel="stylesheet" />
    <script src="amaliajs/build/js/amalia.js.min.js" type="text/javascript"></script>
    <script src="amaliajs/build/js/amalia.js-plugin-timeline.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="amaliajs/build/js/player-message-en.js"></script>
    <script type="text/javascript" src="js/app_TVSum50.js"></script>

  </head>
  <body>
<!--
<form id="uploadform" method="post" enctype="multipart/form-data">
    <label for="file">Select a file</label>
    <input name="file" type="file" >
    <button id="submit" type="button" >Upload</button>
</form>
-->
    <h1 id ="title">Title</h1>
    <h2 id = "eval"></h2>

    <div id="myplayer-timeline-container" onload = >
            <div style="height: 350px;">
                <div id="myplayer-timeline"></div>
            </div>
            <div id="myplayer-timeline-timeline" style="height: 265px;"></div>
            <div style="clear: both;"></div>
    </div>

  </body>

</html>
